<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs') %>
<body class="index">
    <main>
        <form action="/convert" class="link-form" method="POST">
            <input autocomplete="off" type="text" class="input-link" placeholder="Paste and Go" name="url">
            <button class="submit-link" type="submit">Go</button>
        </form>
        <div class="error">
            <% if (error) {%>
                <div class="warning"><span class="cross">⛌ </span>  <%= error %></div>
            <% } %>
        </div>
    </main>
    <img src="Assets/Vector.png" class="vector" alt="" draggable="false">
</body>
</html>
