@import('./style.css');

body {
	background: var(--primary-color)
}

.result {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-top: 6rem;
	padding: 2rem;
	width: 900px;
	background: var(--body-color);
}


.result-grid {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-rows: 100px;
	grid-gap: 10px;
}

.result-grid > div p {
	font-weight: bold;
	margin: 0.5rem 0;
	color: white;
}

.song-title {
	display: flex;
}

.song-title * {
	margin-right: 1rem; 
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a {
	color: var(--primary-font);
}

.bitRateBtn {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
	margin: 10px 5px 10px 0; 
    padding: 0.1rem 0.4rem;
    font-size: 1.5rem;
    border: none;
    outline: 0;
    color: var(--primary-font);
    background: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
}
.bitRateBtn:hover {
    background: var(--primary-font);
    color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}


.download-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #0d0d0d;
	padding: 1rem;
	color: white;
	font-weight: bold;
}

.download-link * {
	margin-top: 1rem;
}

@media (max-width: 560px) {
	.card {
		margin-top: 2rem;
		width: 100%;
	}
	
	.song-title {
		/*flex-direction: column;*/
		display: block;
	}
}
