:root {
    --primary-color: #222831;
    --primary-font: #f05454;
    --secondary-color: #30475e;
    --body-color: #171c24;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    color: var(--primary-font);
    background: var(--body-color)
}

header {
    padding: 0.5rem;
    font-size: 1.4rem;
    background-color: var(--primary-color);
}

main{
	background-color: var(--primary-color);
}

input,
.submit-link {
    padding: 0.3rem;
    font-size: 2rem;
    border: none;
    outline: 0;
    color: var(--secondary-color);
}

.submit-link {
    background: var(--primary-font);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-link:hover {
    background: white;
    color: var(--primary-font);
}

@media (max-width: 568px) {
	main {
		padding:0;
	}

    input,
    .submit-link {
        padding: 0.3rem;
        font-size: 1.2rem;    
    }

    .link-form {
    	max-width: 90%;
    	display: block;
    }
}

.logo a {
    text-decoration: none;
    color: var(--primary-font);
}


/* MAIN */

main {
    padding: 10rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Index Page Error */
.warning {
    margin: 1rem;
    font-size: 0.9rem;
    transition: all 0.8s ease;
    color: #f5000c;
}

.cross {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: 1px;
}

.vector {
	width: 100%;
}

.block {
    display: none !important;
}

.active {
    display: block;
    transition: all 0.3s ease;
}